@charset "UTF-8";


@media screen and (min-width: 728px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > h1{
        font-size: 2em;
    }
    
    div#formulario > p{
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {


    section#login {
        width: 990px;
    }

    section#login > div#imagem {
        transition-duration: 0.7s;
        transition-timing-function: ease;
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        transition-duration: 0.2s;
        transition-timing-function: ease;
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 2.2em;
    }
    
    div#formulario > p{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1921px) {

    section#login {
        width: 2100px;
    }

    section#login {
        height: 60%;
    }

    section#login > div#formulario {
        h1 {
            font-size: 4.2em;
        }

        p {
            font-size: 2.2em;
        }
    }
}